/* Dropdown Menu */

/* Dropdown Button */
.dropbtn {
	font-family: 'fionaregular';
    background-color: var(--aqua);
    color: white;
    padding: 0.25em 0.5em;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: var(--aqua);
}

/* Dropdown Content (Hidden by Default) */
.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 5em;
    box-shadow: 0em 0.25em 0.5em 0em rgba(0,0,0,0.2);
    z-index: 1000;
}

/* Links inside the dropdown */
.dropdown_content a {
    padding: 0.33em 0.5em;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown_content a:hover {
    background-color: #ddd;
    color: black;
}

.show {
    display:block;
}

/* Categories */

.selected_option {
    background-color: var(--aqua) !important;
}

.show_all {
    font-style: italic !important;
}

.options {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0.5em;
    margin-bottom: 0.25em;
}

.options .label {
    align-self: center;
}