
/* Blog posts snippet wrapper styles are global, so they are located in Styles.css */

/* Categories */

.category-show, .sortBy-show {
	background-color: var(--aqua) !important;
}

.category-show-all {
	font-style: italic !important;
}

.blog_posts_categories {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 0.5em;
}

.blog_posts_categories .label {
	align-self: center;
}

.blog_posts_sort_order {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 0.5em;
	margin-top: 0.25em;
}

.blog_posts_sort_order .label {
	align-self: center;
}