.contact {
	display: grid;
	grid-template-columns: 4fr 8fr 1fr;
	grid-template-areas: "title .""pic desc";
	grid-gap: var(--gridGap);
	margin: 0 var(--sideMargin) 20px var(--sideMargin);
}

.title {
	grid-area: title;
	justify-self: center;
}

.desc_contact {
	grid-area: desc;
	display: grid;
	grid-gap: var(--gridGap);
	grid-template-rows: repeat(auto-fit, auto);
	align-self: center;
}

.pic_contact {
	grid-area: pic;
	display: grid;
	justify-self: center;
	align-self: top;
}

.pic_contact > img {
	width: 400px;
}

.desc_contact a {
	text-decoration: none;
	color: var(--black);
}

.desc_contact a:hover {
	color: var(--aqua);
}

@media (max-width: 1000px) {
	.contact {
		grid-template-columns: 1fr 4fr 1fr;
		grid-template-areas: 
		". title ."
		". pic   ."
		". desc  .";
	}

}

@media (max-width: 750px) {
	/* About Page */
	.pic_contact > img {
		width: 275px;
	}
}