/* Contact */

.footer {
	background: url("../Assets/Backgrounds/7.jpg");
	display: grid;
	color: var(--ltgray);
}

.social {
	justify-self: center;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

.social i {
	justify-self: center;
	align-self: center;
	margin: 10px;
}