/* Homepage */

/* About Homepage Blurb */

.about_homepage {
	display: grid;
	grid-template-columns: 1fr 400px auto 1fr;
	grid-template-areas: ". pic desc .";
	grid-gap: var(--gridGap);
	color: var(--black);
}

.pic_homepage {
	grid-area: pic;
	width: 100%;
}

.desc_homepage {
	grid-area: desc;
	align-self: center;
	width: 500px;
	justify-content: center;
}

.desc_homepage > p {
	font-size: 1em;
}

.desc_homepage > a {
	text-decoration: none;
	color: var(--black);
}

.desc_homepage > a:hover {
	color: var(--aqua);
}


@media (max-width: 1250px) {
	/* Homepage */

	/* About Homepage */
	.about_homepage {
		grid-template-columns: 1fr 450px 1fr;
		grid-template-rows: auto 1fr;
		grid-template-areas: 
			". pic ."
			". desc ."
			;
		margin: 0;
	}
	.pic_homepage, .desc_homepage {
		justify-self: center;
		width: 450px;
	}

}

@media (max-width: 500px) {
	
	/* About Homepage */
	.about_homepage {
		grid-template-columns: 1fr 300px 1fr;
	}
	.pic_homepage, .desc_homepage {
		width: 300px;
	}
}