/* Homepage */

/* About Homepage Blurb */

.about_homepage {
	display: grid;
	grid-template-columns: 1fr auto auto 1fr;
	grid-template-areas: ". pic desc .";
	grid-gap: var(--gridGap);
	padding: 20px 0;
	color: var(--black);
	margin-top: 60px;
}

.pic_homepage {
	grid-area: pic;
	width: 400px;
}

.desc_homepage {
	grid-area: desc;
	align-self: center;
	width: 350px;
}

.desc_homepage > p {
	font-size: 1em;
}

.desc_homepage > a {
	text-decoration: none;
	color: var(--black);
}

.desc_homepage > a:hover {
	color: var(--aqua);
}

/* Blog Preview */

.home_blog_posts_container {
	margin-top: 60px;
}


@media (max-width: 750px) {
	/* Homepage */

	/* About Homepage */
	.about_homepage {
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-rows: auto 1fr;
		grid-template-areas: 
			". pic ."
			". desc ."
			;
		margin: 0;
	}
	.pic_homepage, .desc_homepage {
		justify-self: center;
	}
	.pic_homepage {
		width: 300px;
	}

}

@media (max-width: 500px) {
	
	/* Homepage */

	/* About Homepage Blurb */
	.pic_homepage {
		width: 200px;
	}
	.desc_homepage {
		max-width: 300px;
	}

}