/* Post Snippet */

.snippet {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	width: 600px;
	height: 425px;
	overflow: hidden;
	position: relative;
}

.snippet_img {
	grid-column: 1 / -1;
	grid-row: 1 / -1;
	width: 600px;
	position: absolute;
	bottom: 0;
}

.snippet_overlay {
	grid-column: 1 / -1;
	grid-row: 1 / -1;
	z-index: 2;
	display: grid;
	background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0) 30%);
	cursor: pointer;
	width: 600px;
	height: 425px;
}

.snippet_overlay:hover > * {
	color: var(--aqua);
}

.snippet_details {
	color: var(--ltgray);
	justify-self: center;
	align-self: end;
	width: 100%;
	margin-bottom: 3%;
}

.snippet_details > * {
	margin-left: 3%;
	margin-right: 3%;
}

@media (max-width: 768px) {
	.snippet {
		width: 300px;
		height: 225px;
	}

	.snippet_img {
		width: 300px;
	}

	.snippet_overlay {
		width: 300px;
		height: 225px;
	}
}