/* Post Component */

/* Post Header */

.post_header_wrapper {
	display: grid;
	grid-gap: var(--gridGap);
	grid-template-columns: 3fr 12fr 5fr;
}

.post_header {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas: "postImg postContent";
	grid-column: 2 / span 2;
	grid-gap: var(--gridGap);
}

.post_headImg {
	grid-area: postImg;
}

.post_headImg > img {
	width: 100%;
}

.post_header_content {
	grid-area: postContent;
	align-self: center;
}

/* Post Content */

.post_content {
	margin-top: 1.25em;
	display: grid;
	grid-gap: var(--gridGap);
	grid-template-columns: 3fr 12fr 5fr;
}

.post_content > * {
	grid-column: 2 / span 1;
}

/* Post Content Images */

.post_contentImg {
	justify-self: center;
}

.post_contentImg > img {
	width: 100%;
}

.figcaption {
	font-size: 1rem;
}

.right {
	grid-column: 3 / -1;
	grid-row: span 3;
	margin-right: 40px;
}

.left {
	grid-column: 1 / span 1;
	grid-row: span 3;
	margin-left: 40px;
}

.full {
	grid-column: 2 / span 1;
	grid-row: span 3;
}


/* Responsive */

@media (max-width: 1000px) {
	/* Post Component */
	.post_header_wrapper {
		grid-template-columns: 1fr;
	}

	.post_header {
		grid-template-columns: 1fr;
		grid-template-areas: "postContent" "postImg";
		margin-right: var(--sideMargin);
	}

	.post_content {
		grid-template-columns: 1fr;
		margin-right: 20px;
	}

	.post_header_content, .post_headImg {
		justify-self: left;
	}

	.post_headImg {
		margin-right: var(--sideMargin);
	}

	.post {
		grid-template-columns: 1fr;
	}

	.right, .left, .full {
		grid-column: 2 / span 1;
		grid-row: span 3;
		margin: 0;
		width: 300px;
		justify-self: center;
	}
}