/* Global Vars */
:root {
	--aqua: #F4442E;
	--ltgray: white;
	--black: #181b21;
	--sideMargin: 10px;
	--gridGap: 20px;
	--taupeGray: #909090;
	--red: #F4442E;
	--darkGray: #2C2C34;
}

/* Global Styles */


/* Wrapper - for CSS grid on every page */
.wrapper {
	display: grid;
	grid-template-rows: repeat(auto-fit, auto);
	grid-gap: 3em;
	padding-bottom: 200px;
}


/* 75% */
@media (max-width: 768px) {
	.wrapper {
		padding-bottom: 150px;
	}

}


/* 62.5% */
@media (max-width: 500px) {

	.wrapper {
		padding-bottom: 125px;
	}

	/* Dropdown Button */
	.dropbtn {
	    padding: 10px;
	}

}