/* Fonts */
@font-face {
    font-family: 'fionaregular';
    src: url('../Assets/Fonts/Fiona/fiona-regular-webfont.woff2') format('woff2'),
         url('../Assets/Fonts/Fiona/fiona-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'fionaregular';
	background: var(--ltgray);
	color: var(--black);
	font-size: 32px;
	margin: 0;
	box-sizing: border-box;
}

/* Global Vars */
:root {
	--aqua: #85E0E0;
	--ltgray: #FAFAFA;
	--black: #181b21;
	--sideMargin: 10px;
	--gridGap: 20px;
}

/* Global Styles */

h1, h2, h3, h4, h5, h6, p, ul, li, figure {
	margin: 0;
	padding: 0;
}

p {
	font-size: 0.75em;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: var(--aqua);
}

/* So I can put footer on the bottom and make it stay there */
.container {
	position: relative;
	min-height: 100vh;
}

/* Wrapper - for CSS grid on every page */
.wrapper {
	display: grid;
	grid-template-rows: repeat(auto-fit, auto);
	grid-gap: 3em;
	padding-bottom: 200px;
}

/* Blog Posts */
/* These styles are used on the Home and Blog components, so they are global. */

.blog_posts_container {
	display: grid;
	grid-gap: 20px;
}

.blog_posts_header {
	width: 1232px;
	justify-self: center;
	justify-content: start;
}

.blog_posts_header > h1 {
	margin-bottom: 0.25em;
}

.blog_posts {
	justify-self: center;
	display: grid;
	grid-template-columns: repeat(2, 600px);
	grid-gap: 0.5em 1em;
	justify-items: center;
	margin: 0 var(--sideMargin);
}



/* Responsive */

@media (max-width: 1250px) {

	/* Blog Posts */
	.blog_posts {
		grid-template-columns: 1fr;
	}

	.blog_posts_header {
		width: 600px;
	}
}

/* 75% */
@media (max-width: 750px) {
	/* Global */
	body {
		font-size: 1.5em;
	}

	.wrapper {
		padding-bottom: 150px;
	}

	/* Blog Posts */
	.blog_posts_header {
		width: 450px;
	}

}


/* 62.5% */
@media (max-width: 500px) {

	.wrapper {
		padding-bottom: 125px;
	}

	/* Blog Posts */
	.blog_posts_header {
		width: 300px;
	}

	/* Dropdown Button */
	.dropbtn {
	    padding: 10px;
	}

}