/* Fonts */
@font-face {
    font-family: 'fionaregular';
    src: url('../Assets/Fonts/Fiona/fiona-regular-webfont.woff2') format('woff2'),
         url('../Assets/Fonts/Fiona/fiona-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'fionaregular';
	background: var(--ltgray);
	color: var(--black);
	font-size: 32px;
	margin: 0;
	box-sizing: border-box;
}

/* Global Vars */
:root {
	--aqua: #85E0E0;
	--ltgray: #FAFAFA;
	--black: #181b21;
	--sideMargin: 10px;
	--gridGap: 20px;
}

/* Global Styles */

h1, h2, h3, h4, h5, h6, p, ul, li {
	margin: 0;
}

p {
	font-size: 0.75em;
}

/* Wrapper */
.wrapper {
	display: grid;
	grid-template-rows: repeat(auto-fit, auto);
	grid-gap: var(--gridGap);
}

/* Top Menu */

.top {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-areas: "sitename menu";
	margin: 0 var(--sideMargin);
	margin-top: 20px;
}

.top > p {
	grid-area: sitename;
	font-size: 2em;
	align-self: center;
	margin: 0;
}

.top > ul {
	grid-area: menu;
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-content: center;
	padding: 0;
}

.top > ul > li {
	justify-self: center;
}

.top a {
	text-decoration: none;
	color: var(--black);
}

.top a:hover {
	text-decoration: none;
	border-bottom: 1px solid var(--aqua);
}

/* Contact */

.contact {
	background: url("../Assets/Backgrounds/7.jpg");
	display: grid;
	grid-template-rows: repeat(3, auto);
	padding: 20px 0;
	grid-gap: var(--gridGap);
	color: var(--ltgray);
}

.contact > h1 {
	justify-self: center;
}

.contact > p {
	font-size: 1em;
}

.email, .phone {
	justify-self: center;
}

.social {
	justify-self: center;
}

/* Homepage */

/* About Homepage Blurb */

.about_homepage {
	display: grid;
	grid-template-columns: 1fr auto auto 1fr;
	grid-template-areas: ". pic desc .";
	grid-gap: var(--gridGap);
	background: url("../Assets/Backgrounds/7.jpg");
	padding: 20px 0;
	color: var(--ltgray);
}

.pic_homepage {
	grid-area: pic;
	width: 400px;
}

.desc_homepage {
	grid-area: desc;
	align-self: center;
	width: 350px;
}

.about_homepage > p {
	font-size: 1em;
}

.about_homepage > p > a {
	text-decoration: none;
	color: var(--aqua);
}

/* Blog Preview */

.blog {
	margin: 0 var(--sideMargin);
	display: grid;
	grid-template-rows: auto auto;
}

.snippets {
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 1fr;
	grid-template-rows: 400px;
	grid-template-areas: ". first second .";
	grid-gap: var(--gridGap);
}

.snippet {
	height: 400px;
    overflow: hidden;
}


.post1 {
	grid-area: first;
}

.post2 {
	grid-area: second;
}

/* About Page */

.about {
	display: grid;
	grid-template-columns: 4fr 8fr 1fr;
	grid-template-areas: "title .""pic desc";
	grid-gap: var(--gridGap);
	margin: 0 var(--sideMargin) 20px var(--sideMargin);
}

.title {
	grid-area: title;
	justify-self: center;
}

.desc_about {
	grid-area: desc;
	display: grid;
	grid-gap: var(--gridGap);
	grid-template-rows: repeat(auto-fit, auto);
	align-self: top;
}

.desc_about > p {
	font-size: .75em;
}

.pic_about {
	grid-area: pic;
	display: grid;
	justify-self: center;
	align-self: top;
}

.pic_about > img {
	width: 400px;
}

/* Post Component */

.post_header {
	display: grid;
	grid-gap: var(--gridGap);
	grid-template-columns: repeat(2, 1fr);
	margin: 0 var(--sideMargin);
}

.post_headImg {
	justify-self: right;
	display: grid;
}

.post_headImg > img {
	width: 600px;
	align-self: center;
}

.post_header_content {
	align-self: center;
}

.post_content {
	display: grid;
	grid-gap: var(--gridGap);
	grid-template-columns: 3fr 12fr 5fr;
}

.post_content > * {
	grid-column: 2 / span 1;
}

.right {
	grid-column: 3 / -1;
	grid-row: span 2;
}

.post_contentImg {
	justify-self: center;
}

.post_contentImg > img {
	width: 250px;
}

.figcaption {
	font-size: 0.5em;
}

/* Responsive */

@media (max-width: 1000px) {

	/* About Page */
	.about {
		grid-template-columns: 1fr 4fr 1fr;
		grid-template-areas: 
		". title ."
		". pic   ."
		". desc  .";
	}

}

@media (max-width: 750px) {
	/* Global */
	body {
		font-size: 1.5em;
	}

	/* Top Nav */
	.top {
		grid-template-rows: auto auto;
		grid-template-areas: 
		". sitename ." 
		". menu .";
	}

	.top > p {
		justify-self: center;
	}

	/* Homepage */

	/* About Homepage */
	.about_homepage {
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-rows: auto 1fr;
		grid-template-areas: 
			". pic ."
			". desc ."
			;
	}
	.pic_homepage, .desc_homepage {
		justify-self: center;
	}
	.pic_homepage {
		width: 300px;
	}
	/* Blog */
	.snippets {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 200px);
		grid-template-areas: 
			"first"
			"second";
	}
	.snippet {
		height: 200px;
	}

	/* About Page */

	.pic_about > img {
		width: 275px;
	}
}

@media (max-width: 500px) {

	/* General */
	body {
		font-size: 1.25em;
	}

	/* Global */
	.top {
		margin: 0;
	}

	/* Homepage */

	/* About Homepage Blurb */
	.pic_homepage {
		width: 200px;
	}
	.desc_homepage {
		max-width: 300px;
	}

	.snippet {
		height: 190px;
		max-width: 300px;
	}
}