/* Top Menu */

.top {
	display: grid;
	align-items: center;
	grid-template-columns: auto 1fr;
	grid-template-areas: "sitename menu";
	background: url("../Assets/Backgrounds/7.jpg");
	color: var(--ltgray);
}

.sitename {
	grid-area: sitename;
	font-size: 2em;
	margin-left: 0.5em;
}

.menu {
	grid-area: menu;
	justify-self: right;
	width: 475px;
}

.menu > ul {
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-self: center;
}

.menu > ul > li {
	justify-self: center;
}

.top a {
	color: var(--ltgray);
}

@media (max-width: 750px) {
	/* Top Nav */
	.top {
		grid-template-rows: auto auto;
		grid-template-areas: 
		". sitename ." 
		". menu .";
		justify-items: center;
	}

	.sitename {
		justify-self: center;
		margin-left: 0;
	}

	.menu > ul {
		padding-bottom: 20px;
		padding-top: 5px;
	}

	.menu {
		justify-self: center;
		width: 400px;
		
	}
}

@media (max-width: 500px) {
	/* Top Nav */
	.top {
		margin: 0;
	}

	.menu {
		width: 100%;
	}
}